.heading{
    display: flex;
    justify-content: center;
}
h1{
    background-color: rgba(251, 248, 249, 0.9);
    border: 3px solid black;
    font-size: 60px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
body{ 
    width: 100%; 
    height: 100%; 
    background-color: red;
    background-image: url(santa.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 

}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.christmas{
    background-color: rgba(251, 248, 249, 0.82);
    height: 300px;
    width: 200px;
    border: 3px solid black;
    margin-top: 50px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.days, .hours, .minutes, .seconds{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.merry{
    color: red;
    font-size: 60px;
    border: none;
    font-family: 'Staatliches', cursive;
}
#myButton{
    margin-left: 100px;
}
.play{
    width: 100px;
    height: 100px;
    background-image: url("icons8-play-64.png");
    background-size: contain;
}
.pause{
    background-image: url("pause-100.png") ;
}

#particles-js{
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
}

@media all and (max-width: 800px){
    h1{
        font-size: 40px;

    }
}

@media all and (max-width: 500px){
    h1{
        font-size: 30px;
    }

}


